/* universal border and padding*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* used in header options to make them white*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* sizes font size for all paragraph tags*/
p {
    font-size: 16px;
    color: #ffffff;
}

/* gives name in header larger size and keeps aligned*/
.header h1 {
    display: inline-block;
    font-size: 36px;
}
  /* gives padding and font attributes to header of site, currently blue background with white text */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ed7d33;
    color: #ffffff;
    height: 70px;
}

/* used to format header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* makes background image below header */
.floral {
    height: 175px;
    width: 100%;
    background-image: url(../assets/floralBackground.jpg);
    background-size: cover;
    background-position: center;
}

/* formatting for vertical menu bar */
.verticalmenubar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ed7d33;
}

/* formats About Me section */
.aboutMe {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* formats About Me section */
.profilePic img {
    width: 25%;
    align-items: right;
;
}

/* formatting for footer*/
/* siging for footer header, currently larger than overall footer*/
.footer h2 {
    font-size: 20px;
}

/* formatting for footer with copyright information*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}