/* universal border and padding*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sizes font size for all paragraph tags*/
p {
    font-size: 16px;
}

/* gives name in header larger size and keeps aligned*/
.header h1 {
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
}
  /* gives padding and font attributes to header of site, currently orange background with white text */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ed7d33;
    color: #ffffff;
    height: 70px;
}

/* used to format header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
        color: #ffffff;
}

/* makes background image below header */
.floral {
    height: 175px;
    width: 100%;
    background-image: url(../assets/floralBackground.jpg);
    background-size: cover;
    background-position: center;
}


/* formats About Me section */
.aboutMe {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-left: 20px;
}

/* formats About Me section */
.profilePic img {
    margin: 10px;
    float:right;
    width: 25%;
    border-radius: 10px;
    align-items: right;
;
}
/* formats work section */
.work {
    display:flex;
    flex-wrap: wrap;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* formats contact me section */
.contactMe {
    display:flex;
    flex-wrap: wrap;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* contact info list formatting */
.contactformat {
    display: inline-block;
    margin-left: 25px;
    color: #ed7d33;
}

/* formatting for footer and copyright info*/
.footer h5 {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}
.copyright {
    padding-top: 10px;
    padding-bottom: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 10px;
}


/*  START ANEWWWWWW */

.flex-container{
    display: flex;
    background-color: fffff;

}

.item{
    width: 100px;
    height: auto;
    background-color: rgb(68, 16, 212);
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    color: black;
}

.item:nth-of-type(1){
    flex-grow: 1;
}
.item:nth-of-type(2){
    flex-grow: 4;
}

.portfolio-items{
    display: flex;
    background-color: grey;

}

.portfolio-item1{
    flex-grow: 1;
    width: 100px;
    height: auto;
    background-color: rgb(68, 16, 212);
    margin-bottom: 10px;
}

.portfolio-item2{
    width: 100px;
    height: 100px;
    background-color: rgb(68, 16, 212);
    margin-bottom: 10px;
}

.portfolio-item2:nth-of-type(1){
    flex-grow: 1;
}
.portfolio-item2:nth-of-type(2){
    flex-grow: 1;
}