/* universal border and padding*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sizes font size for all paragraph tags*/
p {
    font-size: 16px;
    margin-top: 25px;
}

/* gives name in header larger size and keeps aligned*/
.header h1 {
    display: inline-block;
    font-size: 26px;
    color: #ffffff;
    background-color: rgb(24, 160, 160);
    border: 4px solid rgb(24, 160, 160);
    border-left: 50px solid rgb(24, 160, 160);
    text-shadow: 2px 2px 7px #111111;
}
  /* gives padding and font attributes to header of site, currently orange background with white text */
.header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ed7d33;
    color: #ffffff;
    height: 70px;
}

/* used to format header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
}
header.li {
    display: inline;
    margin-left: 25px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* makes background image below header */
.floral {
    height: 160px;
    width: 100%;
    background-image: url(../assets/floralBackground.jpg);
    background-size: cover;
    background-position: center;
}

.subtitle {
    float: right;
    font-size: 26px;
    color: #ffffff;
    background-color: rgb(24, 160, 160);
    border: 4px solid rgb(24, 160, 160);
    text-shadow: 2px 2px 7px #111111;
    margin-top: 100px;
    margin-right: 75px;
}
.flex-container{
    display: flex;
    background-color: fffff;

}

.item{
    width: 100px;
    height: auto;
    background-color: rgb(68, 16, 212);
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    color: black;
}

.item:nth-of-type(1){
    flex-grow: 1;
}
.item:nth-of-type(2){
    flex-grow: 4;
}

.portfolio-items{
    display: flex;
    background-color: grey;

}

.portfolio-item1{
    display: flex;
    flex-grow: 1;
    height: auto;
    margin-bottom: 10px;
}

.portfolio-item2{
    display: flex;
    height: auto;
    margin-bottom: 10px;
}

.portfolio-item2:nth-of-type(1){
    flex-grow: 1;
}
.portfolio-item2:nth-of-type(2){
    flex-grow: 1;
}

/* formats About Me section */
.aboutMe {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-left: 20px;
}

/* formats About Me section */
.profilePic img {
    margin: 10px;
    margin-right: 20px;
    float:right;
    width: 100px;
    border-radius: 10px;
    border: 4px solid  #ed7d33;
    align-items: right;
}

.floatingtitle {
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #ed7d33;
    border: 4px solid #ed7d33;;
    margin-top: 100px;
    margin-right: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* contact info list formatting */
li {
    display: inline;
    margin-left: 25px;
    color: #ed7d33;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* formatting for footer and copyright info*/
.footer h5 {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}
.copyright {
    padding-top: 10px;
    padding-bottom: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 10px;
}

/* project 1 formatting */
.longimage {
    border: 4px solid #ed7d33;
    margin: 1px;
    height: 125px;
    width: 100%;
    border-radius: 10px;
}
.halfimage {
    border: 4px solid #ed7d33;
    margin-left: 4px;
    margin-right: 4px;
    height: 125px;
    width: 100%;
    border-radius: 10px;
}
.menulist {
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    color: #000000;
    margin-top: 5px;
    margin-right: 20px;
}